html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.board {
  background-image: url("../img/felt.jpg");
  background-repeat: repeat;
  background-size: 20%;
  background-position: center;
  background-color: #33bb66;
}

.distincttext {
  color: black;
  text-shadow: 0 0 5px rgba(0, 0, 0, .5);
  &.distincttext:visited, .distincttext:link, .distincttext:active {
    color: #AAAAFF;
    text-decoration: underline;
  }
}

table.whitetable {
  color: white;
  margin: 1em auto;
  table, tr, td, th {
    border: 3px solid white;
    padding: 5px;
  }
}

.dangerous {
  color: #FF7777;
  font-weight: bold;
  text-decoration: underline;
}

.wood {
  background-image: url("../img/wood.jpg");
  background-repeat: repeat;
  background-size: 20%;
  background-position: center;
  background-color: #33bb66;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  &.vertical {
    background-image: url("../img/woodvertical.jpg");
  }
}

.wood-border {
  border: 20px solid mediumpurple;
  padding: 1em;
  margin: 2em;
  border-image: url("../img/wood-border.png") 177 round;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

body {
  margin-bottom: 60px;
  background: darkslategray;
}

@keyframes placecard {
  from {
    transform: translateY(-100px) rotate(-15deg);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes flipcard {
  from {
    transform: rotateY(-180deg);
  }
  to {
    transform: rotateY(0);
  }
}

div.card {
  display: flex;
  padding: 1em;
  margin: 0.25em;
  flex-direction: row;
  background-color: white;
  border: 2px solid black;
  border-radius: 0.75em;
  width: 10em;
  height: 14em;
  &.anim-place {
    animation: placecard 0.5s 1 ease;
  }
  &.anim-flip {
    animation: flipcard 0.5s 1 linear;
  }
  &.flipped {
    background-image: url(../img/diamond.svg);
    background-size: 0.5em;
    background-position: center;
    img {
      position: relative;
      margin: auto;
      width: 70%;
      height: 35%;
    }
  }
  h1 {
    font-size: 4em;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    position: relative;
    margin: auto;
    text-align: center;
  }
  img {
    width: 3em;
    height: 3em;
    margin-top: -1.5em;
    margin-left: -1.5em;
    position: absolute;
    &.c1n1 { /* Aces */
      top: 50%;
      left: 50%;
      width: 8em;
      height: 8em;
      margin-top: -4em;
      margin-left: -4em;
    }
    &.c3n3, &.c5n5, &.c7n7, &.c9n9 { /* Center middle */
      top: 50%;
      left: 50%;
    }
    &.c2n1, &.c3n1 { /* Center top */
      top: 15%;
      left: 50%;
    }
    &.c2n2, &.c3n2 { /* Center bottom */
      top: 85%;
      left: 50%;
    }
    &.c4n1, &.c5n1, &.c6n1, &.c7n1, &.c8n1, &.c9n1, &.c10n1 { /* Top left */
      top: 15%;
      left: 15%;
    }
    &.c4n2, &.c5n2, &.c6n2, &.c7n2, &.c8n2, &.c9n2, &.c10n2 { /* Top right */
      top: 15%;
      left: 85%;
    }
    &.c4n3, &.c5n3, &.c6n3, &.c7n3, &.c8n3, &.c9n3, &.c10n3 { /* Bottom left */
      top: 85%;
      left: 15%;
    }
    &.c4n4, &.c5n4, &.c6n4, &.c7n4, &.c8n4, &.c9n4, &.c10n4 { /* Bottom right */
      top: 85%;
      left: 85%;
    }
    &.c6n5, &.c7n5 { /* Middle left */
      top: 50%;
      left: 15%;
    }
    &.c6n6, &.c7n6 { /* Middle left */
      top: 50%;
      left: 85%;
    }
    &.c8n5, &.c9n5, &.c10n5 { /* Inner top left */
      top: 37.5%;
      left: 15%;
    }
    &.c8n6, &.c9n6, &.c10n6 { /* Inner top right */
      top: 37.5%;
      left: 85%;
    }
    &.c8n7, &.c9n7, &.c10n7 { /* Inner bottom left */
      top: 62.5%;
      left: 15%;
    }
    &.c8n8, &.c9n8, &.c10n8 { /* Inner bottom right */
      top: 62.5%;
      left: 85%;
    }
    &.c10n9 { /* Inner center top */
      top: 37.5%;
      left: 50%;
    }
    &.c10n10 { /* Inner center bottom */
      top: 62.5%;
      left: 50%;
    }
  }
}

.cardcont {
  display: flex;
  margin: auto;
  width: 42em;
  flex-wrap: wrap;
}

.textfield {
  padding: 2px;
  margin: 10px;
  width: clamp(200px,15%,300px);
  border-radius: 50px;
  font-size: 1em;
}

.buttonfield {
  padding: 2px;
  margin: 10px;
  width: clamp(50px,10%,100px);
  border-radius: 50px;
  font-size: 1em;
}

.blacklink {
    text-decoration: none;
    color: black;
}

.lightpadding {
    padding: 3px;
}

.homelogo {
    max-height: 50px;
    object-fit: contain;
    margin: 3px;
}