html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.board {
  background-image: url("../img/felt.jpg");
  background-repeat: repeat;
  background-size: 20%;
  background-position: center;
  background-color: #33bb66;
}

.wood .horizontal {
  background-image: url("../img/wood.jpg");
  background-repeat: repeat;
  background-size: 20%;
  background-position: center;
  background-color: #33bb66;
}

.wood .vertical {
  background-image: url("../img/wood.jpg");
  background-repeat: repeat;
  background-size: 20%;
  background-position: center;
  background-color: #33bb66;
  transform: rotate(90deg);
}

body {
  margin-bottom: 60px;
}

.textfield {
  padding: 2px;
  margin: 10px;
  width: clamp(200px,15%,300px);
  border-radius: 50px;
  font-size: 1em;
}

.buttonfield {
  padding: 2px;
  margin: 10px;
  width: clamp(50px,10%,100px);
  border-radius: 50px;
  font-size: 1em;
}