@page
@model CBL_CasinoSuite.Pages.Account
@{
ViewData["Title"] = "Account";
}

<div class="text-center">
    <h1 class="display-4">(Account Name)</h1>
    <h3>(Total Gains)</h3>
    <h3>(Detailed Wins/Losses Chart)</h3>
    <p>This page would redirect to the sign in page instead if the user doesn't have an account connected.</p>
</div>
