@page
@model CBL_CasinoSuite.Pages.Account
@{
ViewData["Title"] = "Account";
}

<div class="text-center">
    <h1 class="display-4">@Model.user.Username</h1>
    <h2>Current Balance: $@Model.user.CurrentBalance.ToString("F2")</h2>
    <h3>(Total Gains)</h3>
    <h3>(Detailed Wins/Losses Chart)</h3>
</div>
