@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-page="/Library">Games</a>
    <a asp-page="/Leaderboard">Leaderboard</a>
    <a asp-page="/Account">Account</a>
</div>
