@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center wood-border board">
    <h1 class="display-4 distincttext">Welcome</h1>
    <a asp-page="/Library" class="distincttext">Games</a>
    <a asp-page="/Leaderboard" class="distincttext">Leaderboard</a>
    <a asp-page="/Account" class="distincttext">Account</a>
</div>