@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center wood-border board">
	<img src="img/99PrcentLogo.png" alt="Website Logo" />
	<h2 class="display-4 distincttext">Welcome to 99Prcent – The best foolproof way to get rich!</h2>
	

	<p>
		Enjoy a variety of card games, including Blackjack, Baccarat, and Poker! Test your luck by putting money on the line - as we always say here at 99Prcent: no pain, no gain! 
		99Prcent offers the best gaming experience on the entire internet. We are the only website where you can gain money by doing what you love! Any other websites are lying to you.
	</p>
	<p>
		Encyclopedia Britannica defines gambling as "the betting or staking of something of value, with consciousness of risk and hope of gain, on the outcome of a game." We are not
		a gambling website, because legally, the goal of all players on 99Prcent is to have fun! By playing on this website you aknowledge that you do not hope to gain money, but are simply
		legally purchasing an indicator of your success at our games. Therefore, there is also no risk, because whether you win or lose, your money still accomplishes its purpose.
	</p>
	<p>
		Founded in 1922 as a small, family busines in the back room of a pizzeria in New Jersey, 99Prcent has always been a legitimate business. Now, over a century later, you can play
		our games from anywhere in the world! Just add some money to your balance and get gaming! By playing you aknowledge that you are aware it is not possible to withdraw money from our website.
	</p>
	<p>
		Don't give up! Always keep in mind that 99Prcent of players will quit before their big win!
	</p>
    <a asp-page="/Library" class="wood blacklink lightpadding">Games</a>
    <a asp-page="/Leaderboard" class="wood blacklink lightpadding">Leaderboard</a>
    <a asp-page="/Account" class="wood blacklink lightpadding">Account</a>
</div>