@page
@model CBL_CasinoSuite.Pages.Leaderboard
@{
ViewData["Title"] = "Leaderboard";
}

<div class="text-center">
    <h1 class="display-4">Leaderboard</h1>
    <label for="Filter">Filter:</label>
    <select name="Filter">
        <option>Top (Total Balance)</option>
        <option>Top (Blackjack)</option>
    </select>
    <h3>Player 1 - $25000</h3>
    <h3>Player 2 - $5000</h3>
    <h3>Player 3 - $-50000</h3>
</div>
