@page
@model CBL_CasinoSuite.Pages.Library
@{
ViewData["Title"] = "Games";
}

<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>
    <partial name="_LibraryGame"/>
    <partial name="_LibraryGame"/>
    <partial name="_LibraryGame"/>
</div>
