@page
@model CBL_CasinoSuite.Pages.Library
@{
ViewData["Title"] = "Games";
}

<div class="text-center wood-border board">
    <h2 class="display-4 distincttext">@ViewData["Title"]</h2>
    <partial name="Partials/_LibraryGame"/>
    <partial name="Partials/_LibraryGame"/>
    <partial name="Partials/_LibraryGame"/>
</div>
