@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    99% reserves the right to collect, store, and sell sensitive user data for at least 73.48 years. The following methods may be used
    to collect user data.
</p>
<li>
    <p>Information required for sign up</p>
    <p>Information collected via 3rd party cookies</p>
    <p>Information collected from the user's internet connection</p>
    <p>Information collected from data brokers</p>
    <p>Information collected via accessing the user's webcamera and microphone</p>
    <p>Information collected via installed malware, including but not limited to keyloggers and ransomware</p>
    <p>Information collected via surveilance</p>
    <p>Information collected via blackmail of the user's loved ones</p>
    <p>Information collected via various torture methods</p>
</li>