@page
@model CBL_CasinoSuite.Pages.SignUp
@{
ViewData["Title"] = "Sign up";
}

<div class="text-center board wood-border distincttext">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <form method="post" asp-page-handler="SignUp">
        <input asp-for="NewUsername" placeholder="Username" class="textfield"/>
		    <br />
		    <span asp-validation-for="NewUsername" class="dangerous"></span>
        <label class="text-danger">@Model.UsernameWarning</label>
        <br/>
        <input asp-for="NewPassword" type="password" placeholder="Password" class="textfield"/>
		    <br />
		    <span asp-validation-for="NewPassword" class="dangerous"></span>
        <br/>
        <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" class="textfield"/>
		    <br />
		    <span asp-validation-for="ConfirmPassword" class="dangerous"></span>
		    <br/>
        <button type="submit" class="buttonfield">Sign In</button>
    </form>
	<p>Already have an account? <a asp-page="/SignIn" class="distincttext">Log In</a></p>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial"/>
}
